/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font-presstart), sans-serif;
  background-image: var(--bg-img);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  margin-block: 100px; /*выбрать цвет*/
  padding-block: 136px 25px;
  font-family: var(--main-font-presstart), fantasy;
}

.hd__title {
  margin-block-end: 20px;
  font-size: var(--font-size-title);
  line-height: var(--font-height-title);
}

.hd__subtitle {
  margin-block-end: 25px;
  font-size: var(--font-size-subtitle);
  line-height: var(--font-height-subtitle);
  text-transform: uppercase;
}

.hd__theme-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 10px;
}

.hd__button {
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.hd__button:disabled {
  pointer-events: none;
}

.hd__button:disabled::before {
  content: "►"; /*комбинация на клавиатуре(Win11) alt 16*/
  position: absolute;
  inset-inline-end: 100%;
}

.hd__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
}

.hd__button:focus {
  outline: none;
  opacity: 0.6;
}

.content {
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
}

.content__card {
  margin-block-end: 52px;
  border: 2px solid var(--accent-color);
  font-size: 18px;
  line-height: 21.78px;
  background-color: var(--bg-color);
}

.content__title {
  padding-inline-start: 10px;
  padding-block: 3px;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  font-variation-settings: "wght" var(--main-font-title-wght, 700);
  font-family: var(--main-font-inter);
}

.content__wraper {
  position: relative;
}

.text__wraper {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--main-font-presstart), fantasy;
  font-size: 14px;
  line-height: 14px;
  text-shadow:
    1px 0 0 var(--bg-color),
    -1px 0 0 var(--bg-color),
    0 -1px 0 var(--bg-color),
    0 1px 0 var(--bg-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: var(--text-wraper-stroke)) or
    (-webkit-text-stroke: var(--text-wraper-stroke))
) {
  .text__wraper {
    text-shadow: none;
    -webkit-text-stroke: var(--text-wraper-stroke);
  }
}

.card__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--main-font-inter);
  gap: 27px;
  padding: 25px;

}

.content__button {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  border: 2px solid transparent;
  background-color: transparent;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  block-size: 38px;
  inline-size: 130px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.save__button {
  display: flex;
  margin-inline: auto;
  gap: 8px;
  padding-inline: 20px;
  padding-block: 18px;
  font-family: var(--main-font-family-press), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-end: 100px;
  align-items: center;
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--main-font-presstart), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  /* z-index: 2;
  overflow: hidden; */
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.svg_floppy {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save__button-dialog {
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--main-font-press), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
}

.save__button-dialog[open] {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 25px 20px;
}

.save__button-dialog[open]::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.save__button-close {
  padding-block: 12.5px;
  padding-inline: 132.5px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.main__button {
  position: relative;
  overflow: hidden;
  color: var(--button-text-color);
}

.main__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.main__button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  translate: -100%;
}

/* .content__img {
  object-fit: contain;
} */

@media (width <= 375px) {
  .header {
    width: 100%;
    padding-block: 120px 25px;
    font-weight: var(--main-font-weight);
  }

  .card__img {
    min-block-size: 375px;
  }

  .text__wraper {
    inset-inline-end: 13px;
  }

  .button_save {
    flex-direction: column;
  }

  .save__button-dialog {
    inline-size: 341px;
  }
  .button_save_close {
    padding-inline: 114.5px;
  }
}
